/* Custom styles */

#loginForm {
  max-width: 400px;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#loginForm button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#loginForm button:hover {
  background-color: #0056b3;
}
